.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #21367b;
    --primiry-color: #0232c2;
    --secondary-color: #0452ff;
    --inverted-primiry-color: #049604;
    --inverted-secondary-color: #04ff04;
}
